{
    "openapi": "3.0.0",
    "info": {
        "title": "Ersp-Api",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sandboxerspapi.e-osgo.uz/",
            "description": "OpenApi host"
        }
    ],
    "paths": {
        "/api/motion/polis-motion-annulment": {
            "post": {
                "tags": [
                    "PolisMotion",
                    "V3|OSAGO"
                ],
                "summary": "Движение полиса - аннулирование",
                "requestBody": {
                    "description": "Необходимо передать uuid аннулируемого полиса и другие поля",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PolisMotionAnnulment"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid аннулированного полиса и объекты",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "registryNumber": {
                                            "description": "Регистр. номер полиса",
                                            "type": "string"
                                        },
                                        "uuid": {
                                            "description": "uuid полиса",
                                            "type": "string"
                                        },
                                        "objects": {
                                            "description": "Объекты страхования",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objectType": {
                                                        "description": "Тип объекта",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/oauth/v2/token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Получение Bearer токена",
                "requestBody": {
                    "description": "Запрос на получение токена",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "client_id",
                                    "client_secret",
                                    "grant_type",
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "client_id": {
                                        "description": "Client ID",
                                        "type": "string",
                                        "example": "5_529o76r9bz0ggcgg8wcoc0kococ4wc0so8o8k48k40o00080oc"
                                    },
                                    "client_secret": {
                                        "description": "Client secret",
                                        "type": "string",
                                        "example": "4kmk6cucu2o0kcswg4k8c0s000k4koo0ws0c8w40scs8ggwc80"
                                    },
                                    "grant_type": {
                                        "description": "Grant type",
                                        "example": "password"
                                    },
                                    "username": {
                                        "description": "Логин",
                                        "type": "string",
                                        "example": "megalogin"
                                    },
                                    "password": {
                                        "description": "Пароль",
                                        "type": "string",
                                        "example": "superpassword"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается токен и другие метаданные",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "description": "Ошибка",
                                            "type": "string"
                                        },
                                        "error_message": {
                                            "description": "Текст ошибки",
                                            "type": "string"
                                        },
                                        "result": {
                                            "properties": {
                                                "access_token": {
                                                    "description": "Токен",
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "description": "Срок жизни токена",
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "description": "Тип токена",
                                                    "type": "string"
                                                },
                                                "scope": {
                                                    "description": "Права доступа",
                                                    "type": "string"
                                                },
                                                "refresh_token": {
                                                    "description": "Ключ для обновления токена",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/agencies/add": {
            "post": {
                "tags": [
                    "References"
                ],
                "summary": "Добавление агентов",
                "requestBody": {
                    "description": "Добавление агентов\n * Агент/филиал с таким ПИНФЛ или ИНН может быть только один у одной СК\n * ПИНФЛ и ИНН добавляемого агента/филиала не должен находиться в черном списке",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRefAgency"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается id агента",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "description": "id добавленного агента",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "insurance_org_claim_url": {
            "post": {
                "tags": [
                    "SellingModule sending to ins orgs"
                ],
                "summary": "Отправка епретензий, полученных из модуля продаж в API СК",
                "requestBody": {
                    "description": "Отправка епретензий, полученных из модуля продаж в API СК",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendClaimFromSellingModuleToInsuranceOrgApi"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ответ с кодом 200 подтверждает, что полис сохранен в СК"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "insurance_org_opo_url": {
            "post": {
                "tags": [
                    "SellingModule sending to ins orgs"
                ],
                "summary": "Отправка ОПО полисов, полученных из модуля продаж в API СК",
                "requestBody": {
                    "description": "Отправка ОПО полисов, полученных из модуля продаж в API СК",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendOpoContractFromSellingModuleToInsuranceOrgApi"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ответ с кодом 200 подтверждает, что полис сохранен в СК"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "insurance_org_osgop_url": {
            "post": {
                "tags": [
                    "SellingModule sending to ins orgs"
                ],
                "summary": "Отправка ОСГОП полисов, полученных из модуля продаж в API СК",
                "requestBody": {
                    "description": "Отправка ОСГОП полисов, полученных из модуля продаж в API СК",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendOsgopContractFromSellingModuleToInsuranceOrgApi"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ответ с кодом 200 подтверждает, что полис сохранен в СК"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "insurance_org_osgor_url": {
            "post": {
                "tags": [
                    "SellingModule sending to ins orgs"
                ],
                "summary": "Отправка ОСГОР полисов, полученных из модуля продаж в API СК",
                "requestBody": {
                    "description": "Отправка ОСГОР полисов, полученных из модуля продаж в API СК",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendOsgorContractFromSellingModuleToInsuranceOrgApi"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ответ с кодом 200 подтверждает, что полис сохранен в СК"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "insurance_org_smr_url": {
            "post": {
                "tags": [
                    "SellingModule sending to ins orgs"
                ],
                "summary": "Отправка СМР полисов, полученных из модуля продаж в API СК",
                "requestBody": {
                    "description": "Отправка СМР полисов, полученных из модуля продаж в API СК",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendSmrContractFromSellingModuleToInsuranceOrgApi"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ответ с кодом 200 подтверждает, что полис сохранен в СК"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "https://erspadmin.e-osgo.uz/ru/einsurance_api/claims/save-decision/{claimUuid}": {
            "post": {
                "tags": [
                    "E-Claim"
                ],
                "summary": "Отправка решения по е-претензии (За токенами авторизации обращаться в НАПП)",
                "requestBody": {
                    "description": "Отправка решения по е-претензии",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SaveEClaimDecision"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "https://erspadmin.e-osgo.uz/ru/einsurance_api/claims/save-payout/{claimUuid}": {
            "post": {
                "tags": [
                    "E-Claim"
                ],
                "summary": "Отправка выплаты по е-претензии (За токенами авторизации обращаться в НАПП)",
                "requestBody": {
                    "description": "Отправка выплаты по е-претензии",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SaveEClaimPayout"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/annuitet/add-polis": {
            "post": {
                "tags": [
                    "V3|OSGOR Annuitet"
                ],
                "summary": "Добавление ОСГОР Аннуитет полиса в договор",
                "requestBody": {
                    "description": "Добавление ОСГОР Аннуитет полиса в договор\n * после этого запроса у СК есть 60 дней, чтобы подтвердить оплату полиса. Иначе полис будет переведен в статус 'Не оплачен'\n * startDate должно быть сегодня или больше\n * startDate не может быть больше чем endDate",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddPolisAnnuitetV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного полиса и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "registryNumber": {
                                            "description": "Регистр. номер полиса",
                                            "type": "string"
                                        },
                                        "uuid": {
                                            "description": "uuid полиса",
                                            "type": "string"
                                        },
                                        "objects": {
                                            "description": "Объекты страхования",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "objectId": {
                                                        "description": "Идентификатор объекта со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objectType": {
                                                        "description": "Тип объекта",
                                                        "type": "integer"
                                                    },
                                                    "identificator": {
                                                        "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/add-polis": {
            "post": {
                "tags": [
                    "V3|OTHER"
                ],
                "summary": "Добавление другого полиса в договор",
                "requestBody": {
                    "description": "Добавление другого полиса в договор\n * после этого запроса у СК есть 60 дней, чтобы подтвердить оплату полиса. Иначе полис будет переведен в статус 'Не оплачен'\n * startDate должно быть сегодня или больше\n * startDate не может быть больше чем endDate\n * указанные в объектах полиса классы страхования должны быть в списке разрешенных для СК\n * нельзя добавлять в договор полисы страхования с классами страхования другой отрасли, чем изначально указано в договоре. (За исключением договоров сострахования. Там можно смешивать классы разных отраслей, если в договоре присутствуют две СК из разных отраслей)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddPolisOtherV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного полиса и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "registryNumber": {
                                            "description": "Регистр. номер полиса",
                                            "type": "string"
                                        },
                                        "uuid": {
                                            "description": "uuid полиса",
                                            "type": "string"
                                        },
                                        "objects": {
                                            "description": "Объекты страхования",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "objectId": {
                                                        "description": "Идентификатор объекта со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objectType": {
                                                        "description": "Тип объекта",
                                                        "type": "integer"
                                                    },
                                                    "identificator": {
                                                        "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/add-decision": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Добавление решения к претензии.",
                "requestBody": {
                    "description": "Добавление претензии.\n * На одну претензию можно отправить только одно решение",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDecisionForClaim"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного решения",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uuid"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/add-payout": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Добавление выплаты к претензии.",
                "requestBody": {
                    "description": "Добавление претензии.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddPayoutForClaimDecision"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid решения",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uuid"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/change-claimed-damage": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Изменение заявленного вреда",
                "requestBody": {
                    "description": "Изменение заявленного вреда.\n * Изменять можно только один раз.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChangeClaimedDamage"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid измененного вреда",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Uuid"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/upload-application-file": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Загрузка файла заявления к претензии.",
                "parameters": [
                    {
                        "name": "claimUuid",
                        "in": "query",
                        "description": "Uuid претензии",
                        "schema": {
                            "type": "string"
                        },
                        "example": "4295f384-613c-487d-9f04-aaaaaaaaaaaa"
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "description": "Файл заявления",
                        "schema": {
                            "type": "file"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается {'result'=>'success'} в случае успешной загрузки файла",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/upload-decision-fatv-justification-file": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Загрузка файла обоснования фатв к претензии.",
                "parameters": [
                    {
                        "name": "claimUuids[]",
                        "in": "query",
                        "description": "Uuid претензии (Можно передавать несколько uuid, если файл решения затрагивает множество претензий)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "4295f384-613c-487d-9f04-aaaaaaaaaaaa"
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "description": "Файл решения",
                        "schema": {
                            "type": "file"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается {'result'=>'success'} в случае успешной загрузки файла",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/upload-decision-file": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Загрузка файла решения к претензии.",
                "parameters": [
                    {
                        "name": "claimUuids[]",
                        "in": "query",
                        "description": "Uuid претензии (Можно передавать несколько uuid, если файл решения затрагивает множество претензий)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "4295f384-613c-487d-9f04-aaaaaaaaaaaa"
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "description": "Файл решения",
                        "schema": {
                            "type": "file"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается {'result'=>'success'} в случае успешной загрузки файла",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/claim/upload-payout-file": {
            "post": {
                "tags": [
                    "Claim"
                ],
                "summary": "Загрузка файла выплаты к претензии.",
                "description": "\n * После отправки очередной выплаты в метод /api/v3/claim/add-payout, претензия снова считается неимеющей загруженный файл выплаты",
                "parameters": [
                    {
                        "name": "claimUuids[]",
                        "in": "query",
                        "description": "Uuid претензии (Можно передавать несколько uuid, если файл выплата затрагивает множество претензий)",
                        "schema": {
                            "type": "string"
                        },
                        "example": "4295f384-613c-487d-9f04-aaaaaaaaaaaa"
                    },
                    {
                        "name": "file",
                        "in": "query",
                        "description": "Файл выплаты",
                        "schema": {
                            "type": "file"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается {'result'=>'success'} в случае успешной загрузки файла",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/agricultural/confirm-payed": {
            "post": {
                "tags": [
                    "V3|AGRICULTURAL"
                ],
                "summary": "Подтверждение оплаты сельхоз полиса (Только для Қишлоқ хўжалиги вазирлиги ҳузуридаги “Қишлоқ хўжалиги суғуртаси жамғармаси)",
                "requestBody": {
                    "description": "Подтверждение оплаты другого полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/agricultural/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    },
                                    "currencyId": {
                                        "description": "Валюта (Справочник валют /api/references/currencies)",
                                        "example": "1"
                                    },
                                    "paidExchangeRate": {
                                        "description": "Курс ин. валюты при оплате",
                                        "example": "1"
                                    },
                                    "paidSumInForeignCurrency": {
                                        "description": "Сумма уплаченная в ин. валюте",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/annuitet/confirm-payed": {
            "post": {
                "tags": [
                    "V3|OSGOR Annuitet"
                ],
                "summary": "Подтверждение оплаты ОСГОР Аннуитет полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты ОСГОР Аннуитет полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/annuitet/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "contractLink": {
                                        "description": "Ссылка на заключенный договор",
                                        "type": "string",
                                        "example": "www.example.com"
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/opo/confirm-payed": {
            "post": {
                "tags": [
                    "V3|OPO"
                ],
                "summary": "Подтверждение оплаты ОПО полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты ОПО полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/opo/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate",
                                    "insuranceSumText"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "contractLink": {
                                        "description": "Ссылка на заключенный договор",
                                        "type": "string",
                                        "example": "https://www.uz"
                                    },
                                    "insuranceSumText": {
                                        "description": "Текст рисков и страховых сумм по этим рискам",
                                        "type": "string",
                                        "example": "За такой-то риск столько-то, за другой - столько-то."
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/osgoce/confirm-payed": {
            "post": {
                "tags": [
                    "V3|OSGOCE"
                ],
                "summary": "Подтверждение оплаты ОСГО СЭ полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты ОСГО СЭ полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/osgoce/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "contractLink": {
                                        "description": "Ссылка на заключенный договор",
                                        "type": "string",
                                        "example": "www.example.com"
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/osgon/confirm-payed": {
            "post": {
                "tags": [
                    "V3|OSGON"
                ],
                "summary": "Подтверждение оплаты ОСГОН полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты ОСГОН полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/osgon/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/confirm-payed": {
            "post": {
                "tags": [
                    "V3|OTHER"
                ],
                "summary": "Подтверждение оплаты другого полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты другого полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/contract или /api/v3/add-polis",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    },
                                    "currencyId": {
                                        "description": "Валюта (Справочник валют /api/references/currencies)",
                                        "example": "1"
                                    },
                                    "paidExchangeRate": {
                                        "description": "Курс ин. валюты при оплате",
                                        "example": "1"
                                    },
                                    "paidSumInForeignCurrency": {
                                        "description": "Сумма уплаченная в ин. валюте",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/smr/confirm-payed": {
            "post": {
                "tags": [
                    "V3|SMR"
                ],
                "summary": "Подтверждение оплаты СМР полиса",
                "requestBody": {
                    "description": "Подтверждение оплаты СМР полиса\n* После оплаты отправляется на номер телефона или email страхователя сообщение с информацией о полисе\n* Полис должен быть в статусе 'Ожидает оплаты'\n* Полис должен быть добавлен через метод /api/v3/smr/contract",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "polisUuid",
                                    "paidAt",
                                    "insurancePremium",
                                    "startDate",
                                    "endDate",
                                    "insuranceSumText"
                                ],
                                "properties": {
                                    "polisUuid": {
                                        "description": "UUID полиса",
                                        "type": "string",
                                        "example": "6b4e1638-7d92-45c2-be8c-c1d650820d9c"
                                    },
                                    "paidAt": {
                                        "description": "Дата оплаты",
                                        "type": "string",
                                        "example": "2020-12-30 10:10:10"
                                    },
                                    "insurancePremium": {
                                        "description": "Оплаченная сумма",
                                        "type": "string",
                                        "example": "56000"
                                    },
                                    "startDate": {
                                        "description": "Дата начала",
                                        "type": "string",
                                        "example": "2022-12-30"
                                    },
                                    "endDate": {
                                        "description": "Дата окончания",
                                        "type": "string",
                                        "example": "2023-12-29"
                                    },
                                    "contractLink": {
                                        "description": "Ссылка на заключенный договор",
                                        "type": "string",
                                        "example": "https://www.uz"
                                    },
                                    "insuranceSumText": {
                                        "description": "Текст рисков и страховых сумм по этим рискам",
                                        "type": "string",
                                        "example": "За такой-то риск столько-то, за другой - столько-то."
                                    },
                                    "comission": {
                                        "description": "Комиссия",
                                        "type": "string",
                                        "example": "10000"
                                    },
                                    "agencyId": {
                                        "description": "Агент (Справочник агентов /api/references/agencies)",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается серия и номер оплаченного полиса",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "seria": {
                                            "description": "Серия полиса",
                                            "type": "string"
                                        },
                                        "number": {
                                            "description": "Номер полиса",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/contract-motion/annul": {
            "post": {
                "tags": [
                    "V3|ContractMotion"
                ],
                "summary": "Аннулирование договора",
                "requestBody": {
                    "description": "Необходимо передать uuid анулируемого договора и причину\n * при этом действии, страховая премия по всем полисам в договоре устанавливается в ноль, а в сумму возврата вписывается вся сумма страховой премии",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContractMotionAnnul"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "400": {
                        "description": "Invalid uuid supplied"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid договора",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "uuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/contract-motion/terminate": {
            "post": {
                "tags": [
                    "V3|ContractMotion"
                ],
                "summary": "Досрочное расторжение договора",
                "requestBody": {
                    "description": "Необходимо передать uuid расторгаемого полиса\n * при этом действии необходимо по каждому активному полису в договоре указать заработанную страховую премию и сумму возврата",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContractMotionTerminate"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "400": {
                        "description": "Invalid uuid supplied"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid договора",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "uuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/agricultural/contract": {
            "post": {
                "tags": [
                    "V3|AGRICULTURAL"
                ],
                "summary": "Отправка сельхоз полисов от СК (Только для Қишлоқ хўжалиги вазирлиги ҳузуридаги “Қишлоқ хўжалиги суғуртаси жамғармаси)",
                "requestBody": {
                    "description": "Отправка сельхоз полисов от СК\n * После этого запроса у СК есть 60 дней, чтобы подтвердить оплату полисов этого договора. Иначе полисы будут переведены в статус 'Не оплачен'",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAgriculturalContractV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного договора, полисов и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contractUuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        },
                                        "contractRegisterNumber": {
                                            "description": "Регистрационная серия и номер договора",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "Полисы",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "policyId": {
                                                        "description": "Идентификатор полиса со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "registryNumber": {
                                                        "description": "Регистр. номер полиса",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objects": {
                                                        "description": "Объекты страхования",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "objectId": {
                                                                    "description": "Идентификатор объекта со стороны СК (Если был отправлен)",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "uuid полиса",
                                                                    "type": "string"
                                                                },
                                                                "objectType": {
                                                                    "description": "Тип объекта",
                                                                    "type": "integer"
                                                                },
                                                                "identificator": {
                                                                    "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/annuitet/contract": {
            "post": {
                "tags": [
                    "V3|OSGOR Annuitet"
                ],
                "summary": "Отправка ОСГОР аннуитет полисов от СК",
                "requestBody": {
                    "description": "Отправка ОСГОР аннуитет полисов от СК\n * После этого запроса у СК есть 60 дней, чтобы подтвердить оплату полиса этого договора. Иначе полис будет переведен в статус 'Не оплачен'",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAnnuitetContractV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного договора, полисов и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contractUuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        },
                                        "contractRegisterNumber": {
                                            "description": "Регистрационная серия и номер договора",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "Полисы",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "insOrgPolicyId": {
                                                        "description": "Идентификатор полиса со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "registryNumber": {
                                                        "description": "Регистр. номер полиса",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objects": {
                                                        "description": "Объекты страхования",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "uuid": {
                                                                    "description": "uuid полиса",
                                                                    "type": "string"
                                                                },
                                                                "objectType": {
                                                                    "description": "Тип объекта",
                                                                    "type": "integer"
                                                                },
                                                                "identificator": {
                                                                    "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/opo/contract": {
            "post": {
                "tags": [
                    "V3|OPO"
                ],
                "summary": "Отправка ОПО полисов от СК",
                "requestBody": {
                    "description": "Отправка ОПО полисов от СК\n * После этого запроса у СК есть 60 дней, чтобы подтвердить оплату полиса этого договора. Иначе полис будет переведен в статус 'Не оплачен'",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOpoContractV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного договора, полисов и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contractUuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        },
                                        "contractRegisterNumber": {
                                            "description": "Регистрационная серия и номер договора",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "Полисы",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "policyId": {
                                                        "description": "Идентификатор полиса со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "registryNumber": {
                                                        "description": "Регистр. номер полиса",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objects": {
                                                        "description": "Объекты страхования",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "objectId": {
                                                                    "description": "Идентификатор объекта со стороны СК (Если был отправлен)",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "uuid полиса",
                                                                    "type": "string"
                                                                },
                                                                "objectType": {
                                                                    "description": "Тип объекта",
                                                                    "type": "integer"
                                                                },
                                                                "identificator": {
                                                                    "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/v3/osgoce/contract": {
            "post": {
                "tags": [
                    "V3|OSGOCE"
                ],
                "summary": "Отправка ОСГО СЭ полисов от СК",
                "requestBody": {
                    "description": "Отправка ОСГО СЭ полисов от СК\n *              После этого запроса у СК есть 60 дней, чтобы подтвердить оплату полиса этого договора. Иначе полис будет переведен в статус 'Не оплачен'",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOsgoceContractV3"
                            }
                        }
                    }
                },
                "responses": {
                    "422": {
                        "description": "Validation error"
                    },
                    "200": {
                        "description": "Successful operation. Возвращается uuid созданного договора, полисов и объектов",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contractUuid": {
                                            "description": "uuid договора",
                                            "type": "string"
                                        },
                                        "contractRegisterNumber": {
                                            "description": "Регистрационная серия и номер договора",
                                            "type": "string"
                                        },
                                        "policies": {
                                            "description": "Полисы",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "policyId": {
                                                        "description": "Идентификатор полиса со стороны СК (Если был отправлен)",
                                                        "type": "string"
                                                    },
                                                    "registryNumber": {
                                                        "description": "Регистр. номер полиса",
                                                        "type": "string"
                                                    },
                                                    "uuid": {
                                                        "description": "uuid полиса",
                                                        "type": "string"
                                                    },
                                                    "objects": {
                                                        "description": "Объекты страхования",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "objectId": {
                                                                    "description": "Идентификатор объекта со стороны СК (Если был отправлен)",
                                                                    "type": "string"
                                                                },
                                                                "uuid": {
                                                                    "description": "uuid полиса",
                                                                    "type": "string"
                                                                },
                                                                "objectType": {
                                                                    "description": "Тип объекта",
                                                                    "type": "integer"
                                                                },
                                                                "identificator": {
                                                                    "description": "Идентификатор объекта (Для авто - гос номер, для физ. лица - пинфл, и т.д.)",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
[...]
